.hero-section {
  background-color: #f0f0f0;
  padding: 100px 0;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  max-width: 600px;
  text-align: left;
  padding-right: 20px;
  margin-top: 20px;
  margin-right: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.heading {
  font-size: 2.3rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 40px;
}

.subheading {
  font-size: 1.2rem;
  color: #666;
  text-align: justify;
}

.hero-image img {
  max-width: 90%;
  height: 320px;
  border-radius: 8px; 
}